/*Target everything */
* {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: lightcoral;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

/* content--main screens */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog_preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: burlywood;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/*Blog details */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
}

/* blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Home Page (Search) */

.home .search {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.home .search form {
  display: inline-block;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.home .searchbar {
  padding-bottom: 6px;
}
.home .search button{
  display: inline-block;
  width:10%

}
.home form input {
  font: 16px system-ui;
  color: black;
  
}


.checkboxList {
  background-color: antiquewhite;
  

}
.suggestions {
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 5px;
  
}
.suggestions button{
  width: max-content;
}
.checkboxList .itemList{
  /*position:fixed;*/
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 15px;
}
.checkboxList input {
  display: inline-flex;
}
.checkboxList button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
}

/* auth forms */
.signup, .login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.signup label, .login label {
  text-align: left;
  display: block;
}

.signup input, .login input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.signup button, .login button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.Collapsible {
  background-color: #ddd;
  padding: 6px;
  cursor: pointer;
}
.home .Collapsible {
  width: 100%;
}
